@using LINAprojektet.Models
@model LoginViewModel
@{
    ViewBag.Title = "Logga in";
}

<h3>@ViewBag.Title</h3>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                
                <hr />

                if (TempData["NewUser"] != null)
                {
                    <div class="alert alert-success">
                        <strong>Du har nu registrerat ett konto.</strong>
                        <p>Det har skickats ett bekräftelsemail till den anginva epostadressen. Vänligen bekräfa din epostadress genom att klickat på länken i mailet.</p>
                        <p>Det kan ta upp till 5 minuter innan mailet kommer och kontrollerar att det inte hamnat i skräpkorgen.</p>
                    </div>
                }

                if (ViewBag.EmailNotConfirmed == true)
                {
                    <div class="alert alert-info">
                        <strong>Din epostadress är inte bekräftad.</strong>
                        <p>Vänligen kontrollera att du har mottagit ett bekräftelsemail och klickat på länken i mailet.</p>
                    </div>
                }

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.Label("Epostadress", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Lösenord", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.Label("Kom ihåg mig")
                        </div>
                    </div>
                </div>
               

                <div class="form-group ">
                    <div class="col-md-offset-2 col-md-10">
                        @Html.ActionLink("Registrera dig", "Register", null, new { @class = "knapp btn btn-default" })


                        <input type="submit" value="Logga in" class="btn btn-primary" />
                    </div>
                </div>
                @*<p>
                </p>*@
                 <!--Enable this once you have account confirmation enabled for password reset functionality-->
                    <p>
                        @Html.ActionLink("Har du glömt ditt lösenord?", "ForgotPassword")
                    </p>
            }

            
        </section>
    </div>
    <!--<div class="col-md-4">
        <section id="socialLoginForm">
           @* @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })*@
        </section>
    </div>-->
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}